<div class="container-padding mt-5 h-100">
  <div class="container mt-5">

  <br><br><br><br><br>

<% @orders.each do |order| %>

  <%= order.id %>
  <%= order.created_at.strftime("%d-%m-%Y") %>
  <%= order.total %>
  <%= link_to "Ver más", order_path(order), class: "btn" %>
  <br>

<% end %>

  </div>
</div>
