
<div class="container-padding h-100">
<div class="container">

          <% @order.line_items.each do |item| %>
                  <div class="card-body pt-4">
                    <div class="card shadow-0 border mb-4">
                      <div class="card-body">
                        <div class="row">

                          <div class="col-md-3">
                            <div class="image-dox mx-5 pt-3">
                                <%= cl_image_tag item.product.photos.last.key, crop: :fill %>
                            </div>
                          </div>

                          <div class="col-md-3 text-left d-flex align-items-center">
                            <p class="text-muted mb-0"><%= item.product.name %></p>
                          </div>

                          <div class="col-md-3 text-right d-flex align-items-center">
                            <p class="text-muted mb-0 small">Cantidad: <%= item.quantity %> </p>
                          </div>

                          <div class="col-md-3 text-right d-flex align-items-center">
                            <p class="text-muted mb-0 small"> <strong> Precio total: <%= number_to_currency(item.total_price) %> </strong> </p>
                          </div>

                        </div><br>

                      </div>
                    </div>
                  </div>
          <% end %>

</div>
</div>
