.btn-ghost {
  color: #2a9d8f;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 23px;
  border: solid 1px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  width: 40%;
  height: 43px;
  max-width: 220px;
  margin-right: 10px;
}

.btn-ghost-devise {
  color: #2a9d8f;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 23px;
  border: solid 1px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  margin-right: 10px;
  width: 70%;
  justify-content: center;
}

.btn-ghost:hover {
  opacity: 1;
  background: #2a9d8f;
  color: white;
}

.btn-ghost-devise:hover {
  opacity: 1;
  background: #2a9d8f;
  color: white;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}

.forgot {
  text-align: left;
}

.google{
  border: none;
  text-align: center;
  width: fit-content
}

.btn-outline-search {
  color: #2a9d8f;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border: solid 1px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  width: 40%;
  height: 43px;
  max-width: 220px;
  margin-right: 10px;
}

.btn-outline-search:hover {
  opacity: 1;
  background: #2a9d8f;
  color: white;
}
